.DS_Store

# Config files
pyrightconfig.json
.vscode/

# Directories
00_Organisatorisches
01_Potential_Topics
04_References
**/keys
**/planning

# LaTeX
02_Thesis/Chapters/**/*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.log
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

# Excel
*~$*